:root {
  --clr: #0f0;
}
.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
.effect_container {
  position: relative;
  top: 0px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: animateColor 5s linear infinite;
}
@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.effect_container .effect_cloud {
  position: relative;
  width: 300px;
  z-index: 100;
  filter: drop-shadow(0 0 35px var(--clr));
}

.effect_container .effect_cloud h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  z-index: 1000;
  padding: 0 10px;
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--clr);
}

.effect_container .effect_cloud h2::before {
  content: '';
  position: absolute;
  top: -115px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  width: 120%;
  height: 100px;
  background: var(--clr);
}
.effect_container .effect_cloud h2::after {
  content: '';
  position: absolute;
  top: -150px;
  left: 25px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 120px -30px 0 40px var(--clr);
}

.effect_container .effect_cloud .effect_drop {
  position: absolute;
  top: 40px;
  height: 20px;
  line-height: 20px;
  color: var(--clr);
  transform-origin: bottom;
  animation: dropAnimate 2s linear infinite;
}
@keyframes dropAnimate {
  0% {
    transform: translateY(0) scaleY(0);
    transform-origin: top;
  }
  10% {
    transform: translateY(0) scaleY(0.25);
    transform-origin: top;
  }
  20% {
    transform: translateY(0) scaleY(1);
  }
  70% {
    transform: translateY(300px) scaleY(1);
    transform-origin: bottom;
  }
  80% {
    transform: translateY(300px) scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(300px) scaleY(0);
    transform-origin: bottom;
    text-shadow: -180px 0 0 var(--clr), 180px 0 var(--clr);
  }
}
